<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center justify-content-lg-between">
    <h1 class="logo me-auto me-lg-0"><a href="#hero">BodyHealthy<span>.</span></a></h1>

    <nav id="navbar" class="navbar order-last order-lg-0" [ngClass]="butguerStatus ? 'navbar-mobile' : ''">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
        <li><a class="nav-link scrollto" href="#about">Noticias</a></li>
        <li class="dropdown"><a href="#about"><span>Rutinas</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li class="dropdown"><a href="#"><span>Nivel</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Basico</a></li>
                <li><a href="#">Intermedio</a></li>
                <li><a href="#">Avanzado</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown"><a routerLink="/ejercicios"><span>Ejercicios</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a routerLink="/ejercicios/insertar">Insertar</a></li>
            <li class="dropdown"><a href="#"><span>Musculos</span> <i class="bi bi-chevron-right"></i></a>
              <ul>

                <li  *ngFor="let muscle of muscles"><a href="#">{{muscle.nombre}}</a></li>
              </ul>
            </li>
            <li><a routerLink="/ejercicios">Ver ejercicios</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
      </ul>
      <i class="bi  mobile-nav-toggle" [ngClass]="butguerStatus ? 'bi-x' : 'bi-list'" (click)="onBurguerClick()">burguer</i>
    </nav>
    <a *ngIf="!isLogged" class="get-started-btn scrollto" routerLink="/login">Get Started</a>
    <a *ngIf="isLogged" class="get-started-btn scrollto" (click)="onLogOut()">Log Out</a>

  </div>
</header>
