<div class="col">
  <bh-spinner [message]="'Eliminando ejercicio'"></bh-spinner>
    <div class="card" style="width: 18rem;">
        <img [src]="exerciseImagen" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{exercise.nombre}}</h5>
            <p class="card-text">{{exercise.descripcion}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Series: {{exercise.series}}</li>
            <li class="list-group-item">Repeticiones: {{exercise.repeticiones}}</li>
            <li class="list-group-item">Duracion: {{exercise.duracion}} minutos</li>
        </ul>
        <div class="card-body">
            <!-- <a href="#" class="btn btn-primary" routerLink="/ejercicios/editar/{{exercise.id}}">Editar</a> -->
            <button *ngIf="isAdmin" class="btn btn-primary" routerLink="/ejercicios/editar/{{exercise.idEjercicio}}" >Editar</button >
            <button *ngIf="isAdmin" class="btn btn-primary" routerLink="/ejercicios" (click)="borrar(exercise.idEjercicio)">Eliminar</button >
        </div>
    </div>
</div>
