


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <img [src]="faCoffee" alt=""> -->

<!-- <link href="../assets/img/favicon.ico" rel="stylesheet"> -->
<!-- <link href="../assets/css/bootstrap.css" rel="stylesheet">
<link href="../assets/css/fonts.css" rel="stylesheet">
<link href="../assets/css/style.css" rel="stylesheet"> -->
<router-outlet>
  <!-- <h1>holaaaaaaaa</h1> -->
  <bh-home></bh-home>
</router-outlet>
